body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.container {
    border: 5px solid CornflowerBlue;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    margin: auto;
}

.containerRow {
    display: flex;
}

.containerChildren {
    border: 1px solid LightPink;
    border-radius: 5px;
    flex: 1;
    max-width: 248.75px;
    min-height: 248.75px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

button {
    padding: 25px 50px;
    margin: 50px;
    font-size: 20px;
    Background-color: CornflowerBlue;
    color: black;
    border-radius: 10px;
}

